@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --LightBlue: #c9f0ff;
  --DarkBlue: #2187b3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: black;
}

img {
  width: auto;
  height: 100%;
}

.homeHeroSection {
  background-color: var(--LightBlue);
}

.bannerSection {
  height: auto;
}

.imageDiv {
  width: 25rem;
  height: 20rem;
}
