/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

/* FONTS */

@font-face {
  font-family: "Norse";
  src: url("../../public/fonts/Norse-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: "Hando";
  src: url("../../public/fonts/Hando-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: "Quatera";
  src: url("../../public/fonts/Quatera-Italic.ttf");
  font-style: normal;
}

:root {
  --LightBlue: #c9f0ff;
  --DarkBlue: #2187b3;
  --Black: #000000;
  --White: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hando";
}

.rootLayout {
  display: flex;
  flex-direction: column;
}

.rootLayout main {
  flex: 1;
}


.slick-arrow {
  display: none;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

.slider-container .slick-list {
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  text-transform: none;
}

img {
  width: auto;
  height: 100%;
}

.headerSection {
  width: 100%;
  height: auto;
  background-color: #c9f0ff;
}

.blogDiv .heading {
  font-size: 1.2rem;
  color: #2187b3;
  padding: 0;
  margin: 0;
}

.blogDiv .title {
  font-size: 2rem;
}

.homeHeroSection {
  width: 100%;
  height: auto;
  background-color: var(--LightBlue);
}

.bannerSection {
  max-width: 90vw;
  height: auto;
}

.imageDiv {
  width: 25rem;
  height: 20rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.sliderSection {
  width: 100%;
  height: auto;
  margin: 4rem 0;
}

.heroSection {
  background-color: var(--LightBlue);
}

/*  */

.categoryLinks {
  display: flex;
  padding-left: 0;
  align-items: center;
}

.active {
  background-color: var(--Black);
  color: var(--White);
  border-radius: 20px;
}

.categoryLinks div {
  width: auto;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.categoryBlog {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
}

.categoryBlog .bar1 {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid var(--Black); */
}

.categoryBlog .bar1 > div {
  width: 100%;
  height: 15rem;
  /* margin: 0 0  0; */
  border-radius: 10px;
  position: relative;
  border: 1px solid #e4e4e4;
}

.categoryBlog .bar2 {
  width: 70%;
  border: 1px solid #e4e4e4;
  position: relative;
  border-radius: 10px;
  color: white;
}

.categoryBlog .bar2 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.categoryBlog .bar2 .info {
  width: 70%;
  position: absolute;
  bottom: 3rem;
  left: 40px;
}

.categoryBlog .bar1 .div1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.5;
  border-radius: 10px;
}

.categoryBlog .bar1 .div1 .info {
  width: 80%;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.footer {
  width: 100%;
  height: auto;
  background-color: var(--Black);
  padding: 2rem 0;
  color: var(--White);
}

.socials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .socials {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 1rem; */
  }
}

.calculatorSection {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  font-family: "Hando";
}

.calculatorDiv {
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 1px solid #e4e4e4;
  /* background-color: var(--LightBlue); */
  border-radius: 10px;
}

.calculatorIcon {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem 0;
}

.calculatorGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 0;
}

.calculatorGrid div {
  width: 100%;
}

.calculatorGrid .calculatorDiv .calculatorTitle {
  font-family: "Norse";
  font-weight: 700;
  font-size: 1.5rem;
}

.calculatorGrid .calculatorDiv .calculatorDescription {
  font-family: "Hando";
  font-weight: 400;
  font-size: 1.2rem;
}

.calculatorGrid .calculatorDiv .calculatorLinkBtn {
  font-family: "Hando";
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .categoryBlog .bar1 {
    width: 100%;
    height: auto;
    gap: 1rem;

    /* border: 1px solid var(--Black); */
  }
  .categoryBlog .bar1 .div1 .info {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 20px;
    left: 30px;
  }

  .categoryBlog .bar2 {
    width: 100%;
    height: 24rem;
    /* border: 1px solid var(--Black); */
  }

  .categoryBlog .bar2 .info {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 1rem;
    left: 40px;
  }

  .imageDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageDiv img {
    width: 100%;
    height: 100%;
  }
  .categoryBlog {
    width: 100%;
    height: auto;
    margin: 2rem 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .categoryBlog div {
    width: 100%;
    height: 100%;
  }
  .calculatorGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 1rem 0;
  }
}
